<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title='linj2n\'s Notes',sources_version='local'">
<head th:replace="themes/default/header :: common_header(${title},${sources_version})">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title >linj2n's</title>
    <link rel="stylesheet" href="../../../static/blog/themes/default/vendor/primer-css/css/primer.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/vendor/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/vendor/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/components/collection.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/components/repo-card.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/sections/repo-list.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/sections/mini-repo-list.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/components/boxed-group.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/globals/common.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/vendor/share.js/dist/css/share.min.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/globals/responsive.css">
    <link rel="stylesheet" href="../../../static/blog/themes/default/css/posts/index.css">
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="canonical" href="#">-->
    <!--<link rel="shortcut icon" href="#">-->

    <script src="../../../static/blog/themes/default/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../static/blog/themes/default/js/jquery-ui.js" ></script>
    <script src="../../../static/blog/themes/default/js/main.js"></script>
</head>
<body class="" data-mz="">
<header th:replace="themes/default/header :: top-nav" class="site-header">
    <div class="container">
        <h1><a href="linj2n.cn" title="linj2n"><span class="octicon octicon-mark-github"></span> linj2n</a></h1>
        <button class="collapsed mobile-visible" type="button" onclick="toggleMenu();">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="site-header-nav" role="navigation">

            <a href="/" th:href="@{/}" class=" site-header-nav-item" target="" title="首页">首页</a>

            <a href="/categories/" th:href="@{/categories/}" class=" site-header-nav-item" target="" title="分类">分类</a>

            <a href="/tags/" th:href="@{/tags/}" class=" site-header-nav-item" target="" title="">标签</a>

            <a href="/links/" th:href="@{/links}" class=" site-header-nav-item" target="" title="链接">链接</a>

            <a href="/about/" th:href="@{/about}" class=" site-header-nav-item" target="" title="关于">关于</a>

        </nav>
    </div>
</header>
<!-- / header -->

<section class="banner">
    <div class="collection-head">
        <div class="container">
            <div class="collection-title">
                <h1 class="collection-header" id="sub-title"><span>########</span></h1>
                <div class="collection-info">
                    <span class="meta-info mobile-hidden">
                        <span class="octicon octicon-location"></span>
                        Shenzhen, China
                    </span>
                    <span class="octicon octicon-mark-github"></span>
                        <a href="https://github.com/linj2n" target="_blank"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column two-thirds">
            <ol class="repo-list">
                <li class="repo-list-item" th:each="post : ${postPage.content}">
                    <h3 class="repo-list-name">
                        <a th:href="@{'/posts/' + ${post.id}}" href="https://mazhuang.org/2018/09/06/markdown-intro/" th:text="${post.title}">一份简明的 Markdown 笔记与教程</a>
                    </h3>
                    <p class="repo-list-description" th:text="${post.summary}">
                        为部门内知识分享准备的素材，记录了 Markdown 的优点、应用场景和编辑工具，介绍了标准语法与扩展语法，以及一些应用 Markdown 的奇技淫巧。个人使用 Markdown 的经验持续补充中，最新完整版请参见
                    </p>
                    <p class="repo-list-meta">
                        <span class="meta-info">
                          <span class="octicon octicon-calendar" ></span><th:block th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd ')}">2018-08-08</th:block>
                        </span>

                        <span class="meta-info">
                          <span class="octicon octicon-file-directory"></span>
                          <a th:each="category : ${post.categories}" th:href="@{'/categories/' + ${category.name}}" th:title="${category.name}" th:text="${category.name} + ' '">Markdown</a>
                        </span>
                    </p>
                </li>
            </ol>
        </div>
        <div class="column one-third">

        </div>
    </div>
    <div class="pagination text-align">
        <div class="btn-group">
            <a th:classappend="${postPage.first} ? disabled"
                    th:href="@{/index(size=${postPage.size},page=${postPage.number})}" class="btn btn-outline">«
            </a>
            <a th:each="pageNumber : ${#numbers.sequence(1,postPage.totalPages)}" class="btn btn-outline"
               th:text="${pageNumber}" th:classappend="${postPage.number + 1 == pageNumber} ? active"
               th:href="@{/index(size=${postPage.size},page=${pageNumber})}"></a>
            <a th:classappend="${postPage.last} ? disabled"
                    th:href="@{/index(size=${postPage.size},page=${postPage.number + 2})}" class="btn btn-outline">»
            </a>
        </div>
    </div>
    <!-- /pagination -->
</section>

<!-- /section.content -->

<th:block th:replace="themes/default/footer :: common_footer(${sources_version})">
    <footer class="container">
        <div class="site-footer" role="contentinfo">
            <div class="copyright left mobile-block">
                © 2018
                <span title="linj2n">linj2n</span>
                <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
            </div>

            <ul class="site-footer-links right mobile-hidden">
                <li>
                    <a href="javascript:window.scrollTo(0,0)">TOP</a>
                </li>
            </ul>
            <a href="#" target="_blank" aria-label="view source code">
                <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
            </a>
            <ul class="site-footer-links mobile-hidden">

                <li>
                    <a href="/" title="首页" target="">首页</a>
                </li>

                <li>
                    <a href="/categories" title="分类" target="">分类</a>
                </li>

                <li>
                    <a  href="/tags" title="标签" target="">标签</a>
                </li>

                <li>
                    <a  href="/links" title="链接" target="">链接</a>
                </li>

                <li>
                    <a  href="/about" title="关于" target="">关于</a>
                </li>
            </ul>
        </div>
        <!--<script src="../../../static/blog/themes/default/vendor/share.js/dist/js/share.min.js"></script>-->
        <script src="../../../static/blog/themes/default/vendor/jquery/dist/jquery.min.js"></script>
        <script src="../../../static/blog/themes/default/js/jquery-ui.js" ></script>
        <script src="../../../static/blog/themes/default/js/geopattern.js" ></script>
        <script src="../../../static/blog/themes/default/js/prism.js" ></script>
        <script src="../../../static/blog/themes/default/js/main.js"></script>


    </footer>
    <div class="tools-wrapper">
        <a class="gotop" href="#" title="回到顶部"><span class="octicon octicon-arrow-up"></span></a>
    </div>
    <!-- / footer -->
</th:block>
<script>
    jQuery(document).ready(function ($) {
        // geopattern
        $('.geopattern').each(function () {
            $(this).geopattern($(this).data('pattern-id'));
        });
        // hljs.initHighlightingOnLoad();

        /*$('article :header').each(function () {
            var title = $(this).text();
            console.log(title);
            $(this).attr('id', title);
        })*/

        $('.disabled').click(function(e){
            e.preventDefault();
        });
    });
</script>
<!-- TODO: add this script source to the footer template -->
<script th:src="@{/blog/themes/default/js/jquery.toc.js}" src="../../../static/blog/themes/default/js/jquery.toc.js" ></script>

</body>
</html>
