<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="common_footer(scripts_version)">
<footer class="page-footer text-center font-small ">
    <!--Copyright-->
    <div class="footer-copyright">
        © 2018 Copyright:
        <a href="#" target="_blank"> linj2n.cn </a>
    </div>
    <!--/.Copyright-->

</footer>

<!-- SCRIPTS -->
<th:block th:if="${scripts_version} == 'cdn'">

</th:block>
<th:block th:if="${scripts_version} == 'local'">
    <!-- JQuery -->
    <script type="text/javascript" th:src="@{/admin/plugins/md-bootstrap/js/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{/admin/plugins/md-bootstrap/js/popper.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/admin/plugins/md-bootstrap/js/bootstrap.min.js}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{/admin/plugins/md-bootstrap/js/mdb.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/plugins/md-bootstrap/js/addons/datatables.js}"></script>
    <!-- Simplemde-Markdown-Editor -->
    <script type="text/javascript" th:src="@{/admin/plugins/lepture-markdown-editor/editor/editor.js}"></script>
    <script type="text/javascript" th:src="@{/admin/plugins/lepture-markdown-editor/editor/marked.js}"></script>
    <!-- Select2 -->
    <script type="text/javascript" th:src="@{/admin/plugins/select2/js/select2.js}"></script>
    <!-- Common.js -->
    <script type="text/javascript" th:src="@{/admin/js/common.js}"></script>

</th:block>
</th:block>

</body>
</html>