<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="${_csrf_token}" name="csrf_token"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="images/logo.png"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
    <link href="../../static/css/style.min.css" rel="stylesheet">
</head>
<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center p-t-10" style="margin: 0 auto;">
                <div class="pull-left" style="padding-left: 10px;">
                    <a href="/admin/index">
                        <img src="images/logo.png" width="50" height="50"/>
                    </a>
                </div>
                <div class="pull-left admin-title" style="padding-left: 10px;">
                    <span style="font-size: 28px; color: #2f353f; line-height: 50px;">M</span>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile open-left">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown">
                            <a href="index.html" class="dropdown-toggle profile" data-toggle="dropdown"
                               aria-expanded="true"><img src="#" alt="user-img"
                                                         class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i>
                                    预览站点</a></li>
                                <li><a href="/admin/profile"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> 注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li class="active" >
                        <a href="/admin/index" class="waves-effect "><i
                                class="fa fa-dashboard" aria-hidden="true"></i><span> 仪表盘 </span></a>
                    </li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div id="app" class="row" >
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tale仪表盘</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bx-shadow bg-info">
                                            <a href="/admin/articles" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-quote-right"
                                                                                aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                发表了<span class="counter">N</span>篇文章
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bg-purple bx-shadow">
                                            <a href="/admin/comments" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-comments-o"
                                                                                aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                收到了<span class="counter">N</span>条留言
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mini-stat clearfix bg-success bx-shadow">
                                            <a href="/admin/attaches" class="text-white">
                                                <span class="mini-stat-icon"><i class="fa fa-cloud-upload"
                                                                                aria-hidden="true"></i></span>
                                            </a>
                                            <div class="mini-stat-info text-right">
                                                上传了<span class="counter">N</span>个附件
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">最新文章</h4>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                    <span class="badge badge-primary"
                                          title="n 条评论">n 条评论</span>
                                                        <a target="_blank" href="#">Title</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">最新留言</h4>
                                            </div>
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">系统日志</h4>
                                            </div>
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer text-right">
                    2017 © <a href="https://github.com/biezhi" target="_blank">Tale</a>.
                </footer>
            </div>
        </div>
    </div>
</div>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../../static/plugins/dashboard/detect.js"></script>
        <script src="../../static/plugins/dashboard/fastclick.js"></script>
        <script src="../../static/plugins/dashboard/wow.min.js"></script>
        <script src="../../static/plugins/dashboard/jquery.slimscroll.js"></script>
        <!--<script src="../../static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>-->
        <!--<script src="../../static/plugins/axios/axios.min.js"></script>-->
        <script src="../../static/plugins/moment/moment.min.js"></script>
        <!--<script src="../../static/plugins/vue-loading/vue-loading.min.js"></script>-->
        <script src="../../static/plugins/dashboard/jquery.app.js"></script>
</body>
</html>