<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="page-intro-header(type, short)">
    <header class="intro-header" th:style="'background-image: url(' + @{/blog/themes/huxpro/img/tag-bg.jpg} + ')'">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading" th:id="${short} == true ? 'tag-heading' : ''">
                        <h1 th:text="${type}">Archive</h1>
                        <span class="subheading">Done beats perfect</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>
<th:block th:fragment="post-intro-header(post)">
    <style type="text/css" th:inline="text">

        header.intro-header{
            position: relative;
            background-image: url([[@{/blog/themes/huxpro/img/post-bg-universe.jpg}]]);
            background: ;
        }

        header.intro-header .header-mask{
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0, 0.3);
        }

    </style>
    <header class="intro-header " >
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <div class="tags">
                           <a class="tag" th:each="categoryName : ${post.getAllCategoryName()}" th:href="@{'/categories/?tag=' + ${categoryName}}" th:title="${categoryName}" th:text="${categoryName}"></a>
                       </div>
                       <h1 th:text="${post.title}">Post title</h1>
                       <h2 class="subheading" th:text="${post.summary}">Summary</h2>
                       <span class="meta" th:text="${#temporals.format(post.createdAt, 'MMM dd, yyyy HH:mm ',localeOfUsingEnglish)}">February 9, 2017</span>
                   </div>
               </div>
           </div>
       </div>
   </header>
</th:block>
</body>
</html>