<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.resetKey.title(${user.resetKey})}">Account password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.resetKey.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.resetKey.text1}">
    For your account, a password reset was requested, please click on the URL below to reset it:
</p>
    <h2 th:text="${user.resetKey}" style="color: red;">reset key</h2>

<p>

</p>

<p>
    <span th:text="#{email.resetKey.text2}"></span>
        <a th:href="@{|${baseUrl}/admin/account/password_reset/${user.resetKey}|}" >重置密码</a>
    <br/>
    <span th:text="#{email.signature}">linj2n@163.com</span>
</p>
</body>
</html>
