<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="common_footer(sources_version)">
    <!-- Footer -->
    <footer class="page-footer font-small white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="custom-footer-copyright text-center pt-3 mt-3">
                        <a href="https://github.com/linj2n"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                    </div>
                    <div class="custom-footer-copyright text-center pt-3">© Copyright 2018
                        <a href="https://github.com/linj2n" class="blue-text">linj2n</a>
                    </div>
                    <div class="custom-footer-copyright text-center pt-2 mb-3 pb-3">Powered by <a href="https://github.com/linj2n/melody" class="blue-text">Melody</a> Theme By <a href="https://github.com/linj2n/" class="blue-text">LN</a>

                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <!-- Copyright -->


        <!-- Copyright -->
        <!-- Scripts files -->
        <th:block th:if="${sources_version} == 'cdn'">

        </th:block>
        <th:block th:if="${sources_version} == 'local'">
            <script type="text/javascript" th:src="@{/blog/themes/md-bootstrap-blog/js/jquery-3.3.1.min.js}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" th:src="@{/blog/themes/md-bootstrap-blog/js/bootstrap.min.js}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" th:src="@{/blog/themes/md-bootstrap-blog/js/mdb.min.js}"></script>

        </th:block>
        <!-- Scripts files -->
    </footer>
    <!-- Footer -->



    <!--<div class="tools-wrapper">-->
        <!--<a class="gotop" href="#" title="回到顶部"><span class="octicon octicon-arrow-up"></span></a>-->
    <!--</div>-->
    <!-- / footer -->

</th:block>

</body>
</html>